<p><img src="<%= @story.imgURL %>" /></p>
<h2>Beginning: <%=@story.content %></h2>


<h3><%=@sentence.content %>    <span class="smallerEdit"><%= link_to "Edit", edit_story_sentence_path(@story, @sentence) %></span></h3>
<h5>By <%=@sentence.username %></h5>
<hr>


<p><%= link_to "Delete ", story_sentence_path(@story, @sentence), :data => {:confirm => "You sure?",                             :method => "delete"} %></p>


<p><%= link_to "Return to Story", story_path(@story) %></p>
